In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Divnomorskoye,RU,2022-02-05 03:06:29,44.5011,38.1353,32.56,80,100,9.64
1,1,Avera,US,2022-02-05 03:06:30,33.1940,-82.5271,49.71,83,100,15.26
2,2,New Norfolk,AU,2022-02-05 03:06:30,-42.7826,147.0587,69.89,52,98,1.99
3,3,Srednekolymsk,RU,2022-02-05 03:06:30,67.4500,153.6833,-27.44,100,100,0.83
4,4,Khatanga,RU,2022-02-05 03:05:11,71.9667,102.5000,-35.79,100,87,2.53

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2022-02-05 03:05:01,-23.1203,-134.9692,79.07,68,4,8.14
6,6,Puntarenas,CR,2022-02-05 03:06:31,9.9763,-84.8384,80.53,76,12,1.66
8,8,Tuy Hoa,VN,2022-02-05 03:06:32,13.0833,109.3000,75.70,87,63,16.51
11,11,Atuona,PF,2022-02-05 03:06:33,-9.8000,-139.0333,78.51,77,22,15.90
17,17,Kieta,PG,2022-02-05 03:06:35,-6.2167,155.6333,86.13,71,100,11.83
20,20,Puerto Ayora,EC,2022-02-05 03:06:36,-0.7393,-90.3518,75.54,92,56,4.00
24,24,Sabang,ID,2022-02-05 03:06:37,5.8933,95.3214,81.90,75,88,17.20
27,27,Butaritari,KI,2022-02-05 03:06:38,3.0707,172.7902,82.63,77,36,17.76
28,28,Kapaa,US,2022-02-05 03:06:39,22.0752,-159.3190,79.12,70,40,1.01
29,29,Olinda,BR,2022-02-05 03:06:39,-8.0089,-34.8553,82.13,65,40,6.91

In [32]:
preferred_cities_df.count()
#preferred_cities_df.isnull().sum()
#preferred_cities_df.notnull().sum()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5        Rikitea      PF     79.07 -23.1203 -134.9692
6     Puntarenas      CR     80.53   9.9763  -84.8384
8        Tuy Hoa      VN     75.70  13.0833  109.3000
11        Atuona      PF     78.51  -9.8000 -139.0333
17         Kieta      PG     86.13  -6.2167  155.6333
20  Puerto Ayora      EC     75.54  -0.7393  -90.3518
24        Sabang      ID     81.90   5.8933   95.3214
27    Butaritari      KI     82.63   3.0707  172.7902
28         Kapaa      US     79.12  22.0752 -159.3190
29        Olinda      BR     82.13  -8.0089  -34.8553

In [37]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [45]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,79.07,-23.1203,-134.9692,People ThankYou
6,Puntarenas,CR,80.53,9.9763,-84.8384,Michael's Surfside Hotel
8,Tuy Hoa,VN,75.70,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
11,Atuona,PF,78.51,-9.8000,-139.0333,Villa Enata
17,Kieta,PG,86.13,-6.2167,155.6333,Uruna Bay Retreat
20,Puerto Ayora,EC,75.54,-0.7393,-90.3518,Finch Bay Galapagos Hotel
24,Sabang,ID,81.90,5.8933,95.3214,Hotel Citra
27,Butaritari,KI,82.63,3.0707,172.7902,Isles Sunset Lodge
28,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Olinda,BR,82.13,-8.0089,-34.8553,Hotel Albergue de Olinda

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [49]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]